@import url('https://fonts.googleapis.com/css?family=Lora|Oswald&display=swap');

$main-font: 'Oswald', Arial, sans-serif;
$secondary-font: 'Lora', Arial, serif;;
$background-color: #f8f3eb;
$primary-color: #c3edea;
$accent-color: #fc7e2f;
$backup-color: #f40552;

h1, h2 { 
    font-family: $main-font;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: $secondary-font;
}

body {
    background-color: $background-color;
}

header {
    h1 {
        font-size: 40px;
        color: $accent-color;
        text-align: center;
    }
}

main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    justify-items: center;
    column-gap: .99%;
    margin: 5%;

    div {
        img {
            cursor: pointer;
        }
    }
}

.design-item-description1 {
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    width: 80vw;
    height: 80vh;
    background-color: $primary-color;
    justify-items: center;
    padding: 10px;

    .design-description-item1 {
        align-self: center;

        img {
            object-fit: scale-down;
            height: 80vh;
        }
        
    }

    .design-description-item2 {
        justify-self: left;
        margin-top: 6%;
        margin-left: 5%;
        padding-right: 10%;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }

        i {
            position: absolute;
            top: 8px;
            right: 10px;
            cursor: pointer;
        }
    }
}

.design-item-description2 {
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    width: 80vw;
    height: 80vh;
    background-color: $primary-color;
    justify-items: center;
    padding: 10px;

    .design-description-item1 {
        align-self: center;

        img {
            object-fit: scale-down;
            height: 80vh;
        }
        
    }

    .design-description-item2 {
        justify-self: left;
        margin-top: 6%;
        margin-left: 5%;
        padding-right: 10%;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }

        i {
            position: absolute;
            top: 8px;
            right: 10px;
            cursor: pointer;
        }
    }
}

.design-item-description3 {
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    width: 80vw;
    height: 80vh;
    background-color: $primary-color;
    justify-items: center;
    padding: 10px;
    margin:0 auto;

    .design-description-item1 {
        align-self: center;

        img {
            object-fit: scale-down;
            height: 80vh;
        }
        
    }

    .design-description-item2 {
        justify-self: left;
        margin-top: 6%;
        margin-left: 5%;
        padding-right: 10%;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
            margin: 1px;
        }

        i {
            position: absolute;
            top: 8px;
            right: 10px;
            cursor: pointer;
        }
    }
}

footer {
    p {
        text-align: center;
    }
}


@media (max-width: 800px) {
    main {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        justify-content: center;
        margin-left: 10px;
    }

    .design-item-description1 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        left: 10%;
        right: 10%;
        bottom: 10%;

        .design-description-item2 {
            grid-row: 1;
        }

        img {
            display: none;
        }
    }

    .design-item-description2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        left: 10%;
        right: 10%;
        bottom: 10%;

        .design-description-item2 {
            grid-row: 1;
        }

        img {
            display: none;
        }
    }

    .design-item-description3 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        left: 10%;
        right: 10%;
        bottom: 10%;

        .design-description-item2 {
            grid-row: 1;
        }

        img {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 50%;
        grid-template-rows: auto auto auto;
        justify-content: center;
        margin-left: 10px;
    }
}

@media (max-height: 400px) {

    main {
        img {
            height: 80vh;
            width: auto;
        }
    }

    .design-item-description1 {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 80%;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        left: 10%;
        right: 10%;
        bottom: 10%;

        .design-description-item2 {
            grid-row: 1;
            p {
                font-size: 4vh;
            }
    
        }

        img {
            display: none;
        }
    }

    .design-item-description2 {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 80%;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        left: 10%;
        right: 10%;
        bottom: 10%;

        .design-description-item2 {
            grid-row: 1;
            p {
                font-size: 4vh;
            }
    
        }

        img {
            display: none;
        }
    }

    .design-item-description3 {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 80%;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        left: 10%;
        right: 10%;
        bottom: 10%;

        .design-description-item2 {
            grid-row: 1;
            p {
                font-size: 3.5vh;
            }
    
        }

        img {
            display: none;
        }
    }

}