@import url("https://fonts.googleapis.com/css?family=Bitter|Montserrat&display=swap");
#banner {
  background-color: #fdcb9e;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Bitter", "Times New Roman", Times, serif;
  text-align: center;
  display: none;
  color: black;
}

h2,
h3 {
  text-align: center;
}

body {
  text-align: center;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #ddf3f5;
  max-width: 100%;
  height: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header img {
  display: inline-block;
  padding: 1vh;
  height: 10vh;
  width: auto;
  margin: auto 0 auto auto;
}

header h1 {
  font-family: "Bitter", "Times New Roman", Times, serif;
  text-align: center;
  font-size: 4vh;
}

header p {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

nav {
  margin: 0 auto;
  max-width: 100%;
}

nav .navigation-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #3f3f44;
}

nav .navigation-menu li {
  display: none;
}

nav .navigation-menu li:first-child {
  display: block;
}

nav .navigation-menu li a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  min-height: 100%;
}

nav .navigation-menu li .active {
  background-color: #ccceb9;
  color: black;
}

nav .navigation-menu li a:hover {
  background-color: #fdcb9e;
  color: black;
}

nav .responsive li {
  display: block;
}

main {
  margin: auto;
}

main form {
  display: inline-block;
  text-align: left;
  padding: 20px 0;
  width: 100%;
}

main form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

main form fieldset label {
  margin: 5px 0;
}

main form fieldset label input {
  padding: 8px;
  width: 100%;
}

main form fieldset label #severity {
  padding: 0;
}

main form fieldset label .radio-choice {
  width: auto !important;
}

main form fieldset label textarea {
  resize: none;
  width: 100%;
  overflow: scroll;
}

main form #submit-button {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 3px 0;
}

main form #submit-button:hover {
  background-color: #3f3f44;
  color: white;
}

main .town-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .gallery-container div figcaption {
  padding: 10px;
}

footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  background-color: #3f3f44;
}

footer p {
  color: white;
}

footer p a {
  text-decoration: underline;
  color: white;
  font-weight: 600;
}
/*# sourceMappingURL=small.css.map */